
@{
    ViewBag.Title = "PaymentSuccess";
}

<h2>PaymentSuccess</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="fs-1">Cảm ơn bạn đã đặt vé</div>
            <div class="fs-2">
                Chúng tôi sẽ xác nhận và gửi mail sau cho bạn,
                chúc bạn xem phim vui vẻ
            </div>
            <a href="/Home/Index" class="btn btn-primary">Quay về trang chủ</a>
        </div>
    </div>
</div>
